<!DOCTYPE html>
<html>
  <head>
    <title>Create On-call schedule</title>
  </head>
  <body>
    <header>
      <h2>Create On-call schedule</h2>
    </header>
    <section>
      <%= form_for @on_call_period, url: {action: 'create'} do |form| %>
        <%= form.date_field :start_date %>
        <%= form.submit "Create" %>
      <% end %>
    </section>
    <footer>
      <p>The time is now: <%= Time.now.to_time %>
    </footer>
  </body>
</html>
